@import "tailwindcss";

button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  :root {
    --color-custom-white: 255 255 255;
    --color-bkg: 255 255 255;
    --color-content: 30 41 59;
    --color-accent1: 245 208 254;
    --color-accent2: 153 246 227;
    --color-themeText: 30 41 59;
  }
}

@layer components {
  .input {
    @apply bg-white text-black
    flex w-full flex-1 rounded-lg py-1.5 px-2
    focus:shadow-xl focus:border focus:border-black
    focus:ring-0;
  }

  .btn-themeBlue {
    @apply text-white font-semibold py-2 px-8 rounded-lg bg-[#3b82f6] 
    hover:bg-blue-200 border-2 border-[#3b82f6] hover:text-black 
    transition-all duration-300 hover:shadow-md cursor-pointer;
  }
}
