@import "tailwindcss";

button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.innerScroll {
  overflow: auto;
  scrollbar-color: lightgray transparent;
  scrollbar-width: thin;
  overflow-x: hidden;
}

@theme {
  --color-custom-white: #ffffff;
  --color-bkg: rgb(240, 245, 255);
  --color-content: rgb(30, 41, 59);
  --color-content: #1e293b;
  --color-accent1: #f5d0fe;
  --color-accent2: #99f6e3;
  --color-themeText: #1e293b;
  --color-themeBlue: #3b82f6;
}

@layer components {
  .input {
    @apply bg-custom-white text-black
    flex w-full flex-1 rounded-lg py-1.5 px-2
    focus:shadow-xl focus:border focus:border-black
    focus:ring-0;
  }

  .btn-themeBlue {
    @apply text-custom-white font-semibold py-2 px-8 rounded-lg bg-themeBlue 
    hover:bg-blue-200 border-2 border-themeBlue hover:text-black 
    transition-all duration-300 hover:shadow-md cursor-pointer;
  }
}

.toast-error {
  @apply bg-red-500 text-white;
}
.toast-success {
  @apply bg-green-500 text-white;
}
.toast-info {
  @apply bg-blue-400 text-white;
}
.toast-warning {
  @apply bg-orange-500 text-white;
}
