@import "tailwindcss";

body {
  overflow: hidden;
}

button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.innerScroll {
  overflow: auto;
  scrollbar-color: lightgray transparent;
  scrollbar-width: thin;
  overflow-x: hidden;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    width: 0em;
    height: 0em;
  }
}

@theme {
  --color-custom-white: #ffffff;
  --color-bkg: #7DD3FC;
  --color-content: rgb(30, 41, 59);
  --color-content: #1e293b;
  --color-accent1: #f5d0fe;
  --color-accent2: #99f6e3;
  --color-themeText: #1e293b;
  --color-themeBlue: #3b82f6;
  --color-themeOrange: #f97316;
  --color-themeGreen: #10b981;
  --color-themeLiteGreen: rgb(167, 243, 208);
  --color-themeLiteBlue: rgb(191, 219, 254);
  --color-themeLiteOrange: rgb(254, 215, 170);
}

@layer components {
  .input {
    @apply bg-custom-white text-content border-2 border-content focus:outline-none
    flex w-full flex-1 rounded-lg py-1.5 px-2 focus:shadow-xl focus:border-themeBlue;
  }

  .btn-themeBlue {
    @apply text-custom-white font-semibold py-2 px-8 rounded-lg bg-themeBlue 
    hover:bg-blue-200 border-2 border-themeBlue hover:text-black 
    transition-all duration-300 hover:shadow-md cursor-pointer;
  }

  .btn-icon {
    @apply p-0.5 cursor-pointer transition-all duration-200;
  }
}

.toast-error {
  @apply bg-red-500 text-white;
}
.toast-success {
  @apply bg-green-500 text-white;
}
.toast-info {
  @apply bg-blue-400 text-white;
}
.toast-warning {
  @apply bg-orange-500 text-white;
}
